body {
    background-color: #151515;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#container {
    margin-top: 150px;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 10px;
    font-size: 6rem;    
}

.spot {
    background-color: rgb(33, 54, 54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}