body {
    background-color: #151515;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#wrapper {
    margin: 0 auto;
}

#container {
    margin-top: 50px;
    margin-bottom: 25px;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 10px;
    font-size: 6rem;    
}

.spot {
    background-color: rgb(33, 54, 54);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#display {
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', monospace;
    margin-top: 50px;
    min-height: 40px;
}